@model IEnumerable<ManteminiemtoClinica.Models.Citas>

@{
    ViewBag.Title = "Pacientes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Pacientes del médico @ViewBag.nomMed</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nrocita)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nompac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pago)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nrocita)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nompac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pago)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>








