@model ManteminiemtoClinica.Models.Citas

@{
    ViewBag.Title = "Create";
}

<h2>Registro de Nuevas Citas del Médico @ViewBag.nomMed</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Citas</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.nompac)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.nompac)
            @Html.ValidationMessageFor(model => model.nompac)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.tipo)
        </div>
        <div class="editor-field">
            @Html.RadioButtonFor(model => model.tipo,1) Ambulatorio 
            @Html.RadioButtonFor(model => model.tipo, 2) Afiliado 
            @Html.RadioButtonFor(model => model.tipo, 3) Empresa 
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.pago)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pago)
            @Html.ValidationMessageFor(model => model.pago)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<p>
    @Html.ActionLink("Back to List", "Index", new { id = ViewBag.codMed, nomMed = ViewBag.nomMed, coleg = ViewBag.col })
</p>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
